<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1 jhiTranslate="reset.finish.title">Muuda salasõna</h1>

      <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing" *ngIf="initialized && !key">
        Muutmise võti puudub.
      </div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span jhiTranslate="reset.finish.messages.info">Valige uus salasõna</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span jhiTranslate="reset.finish.messages.error"
          >Teie salasõna ei saanud ära muuta. Pidage meeles, et salasõna muutmise tellimus kehtib ainult 24 tundi.</span
        >
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span jhiTranslate="reset.finish.messages.success"><strong>Teie salasõna on muudetud.</strong> Palun </span>
        <a class="alert-link" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">sisse logida</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
        Salasõna ja selle kordus erinevad!
      </div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">Uus salasõna</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.newpassword.required"
              >
                Salasõna on kohustuslik.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.newpassword.minlength"
              >
                Salasõna pikkus peab olema vähemalt 4 sümbolit.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.newpassword.maxlength"
              >
                Salasõna ei tohi olla pikem kui 50 sümbolit.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">Uus salasõna uuesti</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.confirmpassword.required"
              >
                Salasõna kordus on kohustuslik.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.confirmpassword.minlength"
              >
                Salasõna kordus peab olema vähemalt 4 sümbolit.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.confirmpassword.maxlength"
              >
                Salasõna kordus ei tohi olla pikem kui 50 sümbolit.
              </small>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="passwordForm.invalid"
            class="btn btn-primary"
            jhiTranslate="reset.finish.form.button"
            data-cy="submit"
          >
            Kinnita uus salasõna
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
